.hero {
height: 879px;
background: #00141A;
}

.hero-div {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 40px;
margin-left: 15px;
margin-right: 15px;
padding-left: 20px;
padding-right: 10px;
/* border: 5px solid red; */
}

.hero-1 {
width: 526px;
height: 486px;
margin-left: 0px;
padding-left: 50px;
top: -40px;
bottom: 40px;
margin-top: 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
/* border: 5px solid red; */
}

.hero-2 {
width: 564px;
height: 817.39px;
padding: 0px;
display: flex;
flex-direction: row;
justify-content: space-between;
/* border: 5px solid red; */
}

.future {
text-align: left;
width: 443px;
height: 157px;
font-family: Sarabun;
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 72px;
color: #FAFEFF;
text-shadow: 4px 4px 20px rgba(175, 138, 255, 0.5);
/* border: 5px solid red; */
}

.future-p {
text-align: left;
width: 526px;
height: 152px;
font-family: Sarabun;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 48px;
color: #00CCFF;
/* border: 5px solid red; */
}

.btn-rou-2 {
  background-color:rgba(250, 254, 255, 1);
  color: rgba(16, 0, 51, 1);
  border-color: none;
  width: 204px;
  height: 54px;
  border-radius: 2px;
}

.btn-rou-2:hover {
  background-color:rgba(250, 254, 255, 1);
  border-color: none;
}

.btn-rou-2 a:hover {
  text-decoration: none;
}

.img-1 {
width: 299.49px;
height: 754.16px;
margin-top: 25px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
/* transform: matrix(1, 0.09, 0.09, 1, 0, 0); */
/* border: 5px solid red; */
}

.img-2 {
width: 229px;
height: 218px;
/* border: 5px solid red; */
}

.img-2 img {
width: 229px;
height: 218px;
margin-right: auto;
}
